<div class="position-relative trigger-search-container">
    {{! template-lint-disable no-positive-tabindex }}
    {{! template-lint-disable no-down-event-binding }}
    <input
        value={{this.text}}
        placeholder={{@placeholder}}
        maxlength="256"
        class="ember-power-select-trigger-input power-select-search-input position-relative text-md form-control
            {{@extra.triggerClass}}"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        id="ember-power-select-infinity-trigger-{{@select.uniqueId}}"
        aria-controls={{@listboxId}}
        disabled={{@select.disabled}}
        tabindex={{0}}
        {{on "focus" (fn this.onFocus @select)}}
        {{on "blur" (fn this.onBlur @select)}}
        {{on "input" @onInput}}
        {{on "keydown" this.handleKeydown}}
    />

    {{#if @extra.isSearching}}
        <@extra.loadingComponent />
    {{/if}}

    {{#if this.canClear}}
        {{! template-lint-disable no-bare-strings }}
        <span
            class="ember-power-select-infinity-trigger-clear-btn"
            role="button"
            {{on "mousedown" (fn this.clear @select)}}
            {{on "touchstart" (fn this.clear @select)}}
        >&times;</span>
    {{/if}}
</div>