<input
    value={{@extra.searchText}}
    placeholder={{@placeholder}}
    maxlength="256"
    class="ember-power-select-trigger-input power-select-search-input position-relative text-md"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    id="ember-power-select-infinity-trigger-{{@select.uniqueId}}"
    aria-controls={{@listBoxId}}
    disabled={{@select.disabled}}
    {{!-- template-lint-disable no-positive-tabindex  --}}
    tabindex={{or @tabindex "-1"}}
    {{on "focus" @onFocus}}
    {{on "blur" this.onBlur}}
    {{on "input" this.handleInput}}
    {{on "keydown" this.handleKeydown}}
/>
<FaIcon @icon="search" class="power-select-trigger-search-icon" />
{{#if @extra.isSearching}}
    <LoadingPulse class="trigger-loading-pulse"/>
{{else if (and (is-empty @extra.options) @extra.hasInvokedSearch @extra.searchText)}}
    <span class="ember-power-select-infinity-trigger-no-results-label">
        {{@extra.noMatchesMessage}}
    </span>
{{/if}}