<input
    class="ember-power-select-trigger-multiple-input power-select-search-input"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    id="ember-power-select-trigger-multiple-input-{{@select.uniqueId}}"
    value={{@select.searchText}}
    aria-controls={{@listboxId}}
    placeholder={{@placeholder}}
    disabled={{@select.disabled}}
    maxlength="128"
    {{!-- template-lint-disable no-positive-tabindex  --}}
    tabindex={{or @tabindex "-1"}}
    {{on "focus" @onFocus}}
    {{on "blur" this.onBlur}}
    {{on "input" this.handleInput}}
    {{on "keydown" this.handleKeydown}}
>
{{#if @extra.isSearching}}
    <ProgressSpinner class="infinity-trigger-progress-spinner" />
{{else if (and (is-empty @extra.options) @extra.hasInvokedSearch @select.searchText)}}
    <span class="infinity-trigger-no-results-label">
        {{@extra.noMatchesMessage}}
    </span>
{{/if}}