<PowerSelectInfinity
    @selected={{this.selected}}
    @onChange={{this.onChange}}
    @options={{this.options}}
    @canLoadMore={{true}}
    @loadMore={{this.loadMore}}
    @search={{this.search}}
    @allowClear={{true}}
    @placeholder={{"Search"}}
    @canCreate={{true}}
    @labelPath="name"
    @searchPlaceholder={{"Search"}}
    @loadingMessage={{"loading"}}
    @createOption={{this.createOption}}
    class="testy-test"
    as |option|
>
    <div class="ember-power-select-option-section {{if option.date 'ember-power-select-option-section-has-heading'}}">
        {{#if option.date}}
            <div class="ember-power-select-option-section-heading font-weight-bold">
                {{option.date}}
            </div>
        {{/if}}
        <div class="text-truncate">
            {{option.name}}
        </div>
    </div>
</PowerSelectInfinity>