<VerticalCollection
    @items={{@options}}
    @estimateHeight={{@estimateHeight}}
    @staticHeight={{@staticHeight}}
    @bufferSize={{@bufferSize}}
    @lastReached="onScroll"
    @containerSelector=".ember-power-select-options"
     as |opt index|>
     <li class="ember-power-select-option"
       aria-selected="{{ember-power-select-is-selected opt this.select.selected}}"
       aria-disabled={{ember-power-select-true-string-if-present opt.disabled}}
       aria-current="{{eq opt this.select.highlighted}}"
       data-option-index="{{this.groupIndex}}{{this.index}}"
       role="option">
       {{yield opt this.select}}
     </li>
</VerticalCollection>