<input type="search"
  value={{this.text}}
  role="combobox"
  id="ember-power-select-infinity-input-{{this.select.uniqueId}}"
  @class={{this.concatenatedInputClasses}}
  @autocomplete="off"
  @placeholder={{this.placeholder}}
  @onInput={{this.onInput}}
  @onFocus={{this.onFocus}}
  @onBlur={{this.onBlur}}
  @disabled={{this.select.disabled}}
  @onKeydown={{this.handleKeydown}}
  @onMousedown={{this.stopPropagation}}>
{{#if this.select.loading}}
    {{component this.loadingComponent}}
{{/if}}
{{#if this.canClear}}
    <span class="ember-power-select-infinity-clear-btn" {{on "mousedown" this.clear}}{{on "touchstart" this.clear}}>&times;</span>
{{/if}}
<span class="ember-power-select-status-icon"></span>
