{{!-- BEGIN-SNIPPET power-select-infinity-trigger-with-load-demo.hbs --}}
<PowerSelectInfinity
    @selected={{@selected}}
    @onChange={{@onChange}}
    @options={{this.options}}
    @loadMore={{this.loadMore}}
    @search={{this.search}}
    @canLoadMore={{this.canLoadMore}}
    @estimateHeight={{51}}
    @placeholder="Search for droids..."
    @noMatchesMessage="No droids here"
    @triggerClass="form-control p-0"
    @triggerIsSearch={{@triggerIsSearch}}
    as |option|
>
    <div class="ember-power-select-option-section">
        <div class="text-truncate">
            {{option.name}}
        </div>
    </div>
</PowerSelectInfinity>
{{!-- END-SNIPPET --}}