{{!-- BEGIN-SNIPPET basic-power-select-demo.hbs --}}
<PowerSelectInfinity
    @selected={{@selected}}
    @onChange={{@onChange}}
    @options={{this.options}}
    @canLoadMore={{this.canLoadMore}}
    @loadMore={{this.loadMore}}
    @search={{this.search}}
    @allowClear={{this.allowClear}}
    @placeholder="Select an item"
    @searchPlaceholder="Search items..."
    @loadingMessage={{true}}
    @estimateHeight={{51}}
    @renderInPlace={{@renderInPlace}}
    @searchField="name"
    @triggerClass="form-control"
    as |option|
>
    <div
        class="ember-power-select-option-section {{if option.heading "ember-power-select-option-section-has-heading"}}">
        {{#if option.heading}}
            <div class="ember-power-select-option-section-heading font-weight-bold">
                {{option.heading}}
            </div>
        {{/if}}
        <div class="text-truncate">
            {{option.name}}
        </div>
    </div>
</PowerSelectInfinity>
{{!-- END-SNIPPET --}}