<h2 id="title" class="text-center">Welcome to Ember</h2>

{{outlet}}


<div class="row justify-content-center">
    <div class="col-4">
        {{#power-select-infinity
            options=options
            search=(action 'search')
            loadMore=(action 'loadMore')
            selected=selected
            onchange=(action (mut selected))
            inputClass="form-control"
            extra=(hash labelPath="name")
            as |user|}}
                {{user.name}}
        {{/power-select-infinity}}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4">
        With Custom buffer size
        {{#power-select-infinity
            options=options
            search=(action 'search')
            loadMore=(action 'loadMore')
            selected=selected
            onchange=(action (mut selected))
            inputClass="form-control"
            extra=(hash labelPath="name")
            bufferSize=1
            as |user|}}
                {{user.name}}
        {{/power-select-infinity}}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        With Custom Loading Component
        {{#power-select-infinity
            options=options
            search=(action 'search')
            loadMore=(action 'loadMore')
            selected=selected
            onchange=(action (mut selected))
            extra=(hash labelPath="name")
            inputClass="form-control"
            loadingComponent='loading-component'
            as |user|}}
                {{user.name}}
        {{/power-select-infinity}}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        With min length
        {{#power-select-infinity
            search=(action 'search')
            loadMore=(action 'loadMore')
            selected=selected
            onchange=(action (mut selected))
            extra=(hash labelPath="name")
            inputClass="form-control"
            minCharacters=3
            loadingComponent='loading-component'
            as |user|}}
                {{user.name}}
        {{/power-select-infinity}}
    </div>
</div>