<div class="docs-container">
    <div class="docs-section">
        <div class="docs-md">
            <h1 class="docs-md__h1">
                Power Select Infinity
            </h1>
            <h2 class="docs-md__h2">
                Basic Power Select
            </h2>
            <p>A basic power-select-infinity component.</p>
            <DocsDemo as |demo|>
                <demo.example @name="power-select-infinity-default.hbs">
                    <BasicPowerSelect
                        @onChange={{this.selectItem}}
                        @selected={{this.selectedItem}}
                    />
                </demo.example>
                <demo.snippet @name="basic-power-select-demo.ts" @label="Component"/>
                <demo.snippet @name="basic-power-select-demo.hbs" @label="Template"/>
            </DocsDemo>
        </div>
    </div>
</div>
<div class="docs-section">
        <div class="docs-md">
            <h2 class="docs-md__h2">
                Trigger Loading
            </h2>
            <p>Power Select with Loading State in Trigger</p>
            <DocsDemo as |demo|>
                <demo.example @name="power-select-infinity-trigger-loading.hbs">
                    <TriggerLoadingDemo
                        @onChange={{this.selectItem}}
                        @selected={{this.selectedItem}}
                        @triggerLoading={{true}}
                    />
                </demo.example>
                <demo.snippet @name="trigger-loading-demo.hbs" @label="Template"/>
            </DocsDemo>
        </div>
    </div>