<input
    type="search"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck={{false}}
    role="combobox"
    id="ember-power-select-infinity-input-{{@select.uniqueId}}"
    aria-controls="ember-power-select-infinity-trigger-{{@select.uniqueId}} {{@listboxId}}"
    class={{this.concatenatedInputClasses}}
    value={{this.text}}
    placeholder={{@placeholder}}
    disabled={{@select.disabled}}
    {{on "input" @onInput}}
    {{on "focus" @onFocus}}
    {{on "blur" @onBlur}}
    {{on "keydown" this.handleKeydown}}
    {{on "mousedown" this.stopPropagation}}
    {{did-insert this.focusInput}}
    {{will-destroy this.clearSearch}}>
{{#if this.canClear}}
    <span class="ember-power-select-infinity-clear-btn" role="button" {{on "mousedown" this.clear}} {{on "touchstart" this.clear}}>&times;</span>
{{/if}}
<span class="ember-power-select-status-icon"></span>

{{!-- {{#if @select.loading}}
    {{#if @loadingMessage}}
        <li class="ember-power-select-option ember-power-select-option--loading-message" role="option">{{@loadingMessage}}</li>
    {{else}}
        {{component @loadingComponent}}
    {{/if}}
{{/if}}
{{#if @select.selected}}
  {{#if @selectedItemComponent}}
    {{component @selectedItemComponent extra=(readonly @extra) option=(readonly @select.selected) select=(readonly @select)}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield @select.selected @select}}</span>
  {{/if}}
  {{#if this.canClear}}
    <span class="ember-power-select-clear-btn" role="button" {{on "mousedown" this.clear}} {{on "touchstart" this.clear}}>&times;</span>
  {{/if}}
{{else}}
  {{component @placeholderComponent placeholder=@placeholder}}
{{/if}}
<span class="ember-power-select-status-icon"></span> --}}